.name{
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

.sub-cat{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.education{
    padding-bottom: 10px;
}

.skills{
    padding-bottom: 10px;
}

.employment{
    padding-bottom: 10px;
}

.projects{
    padding-bottom: 10px;
}

.name{
    text-align: center;
}

.category-item{
    font-style: italic;
}

#algorithm-visualizer-pic, #mealer-pic{
    padding-left: 30px;
    padding-top: 15px;
    width: auto;
    height: 200px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 70%;
    width: 200px;
    position: fixed;
    z-index: 1; 
    top: 75; 
    left: 25;
    background-color: rgb(255,235,205);
    overflow-x: hidden; 
    padding-top: 100px;
    padding-left: 20px;
    border-radius: 5px;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

.sidebar {
    text-decoration: underline;
}

.main {
    margin-left: 245px;
    padding: 0px 10px;
    }

