.name{
    padding-bottom: 10px;
}

.sub-cat{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.education{
    padding-bottom: 10px;
}

.skills{
    padding-bottom: 10px;
}

.employment{
    padding-bottom: 10px;
}

.projects{
    padding-bottom: 10px;
}

.name{
    text-align: center;
}

.category-item{
    font-style: italic;
}

#algorithm-visualizer-pic, #mealer-pic{
    padding-left: 30px;
    padding-top: 15px;
    width: auto;
    height: 200px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

