.name{
    padding-bottom: 10px;
}

.education{
    padding-bottom: 10px;
}

.skills{
    padding-bottom: 10px;
}

.employment{
    padding-bottom: 10px;
}

.projects{
    padding-bottom: 10px;
}

.name h1{
    text-align: center;
}

.category-item{
    font-style: italic;
}

#algorithm-visualizer-pic, #mealer-pic {
    padding-left: 30px;
    padding-top: 15px;
    width: auto;
    height: 200px;
}