.name{
    padding-bottom: 10px;
}

.sub-cat{
    text-align:center;
    background-color: gainsboro;
    border-width: 40%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block; /* Make the background color span only the text */
    padding: 5px 200px; /* Add padding to left and right */
    border-radius: 5px; 
}
.sub-cat-container{
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
}

.education{
    padding-bottom: 10px;
}

.skills{
    padding-bottom: 10px;
}

.employment{
    padding-bottom: 10px;
}

.projects{
    padding-bottom: 10px;
}

.name{
    text-align: center;
}

.category-item{
    font-style: italic;
}

#algorithm-visualizer-pic, #mealer-pic{
    padding-left: 30px;
    padding-top: 15px;
    width: auto;
    height: 200px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main{
    margin-left: 220px;
}