body{
    font-family: 'Avenir';
}

.main {
    margin-left: 245px;
    padding: 0px 10px;
    }

.name{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 225px;
    color: white;
    background-color: rgb(121, 119, 116);
    
}

h4 {
    font-weight: bold;
}

.sub-cat{
    text-align:center;
    background-color: lightblue;
    border-width: 40%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block; /* Make the background color span only the text */
    padding: 5px 200px; /* Add padding to left and right */
    border-radius: 5px;
}
.sub-cat-container{
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
}

.education{
    padding-bottom: 10px;
    font-family: "Avenir";
}

.skills{
    padding-bottom: 10px;
}

.employment{
    padding-bottom: 10px;
}

.projects{
    padding-bottom: 10px;
}

.name{
    text-align: center;
}

#algorithm-visualizer-pic, #mealer-pic{
    padding-left: 30px;
    padding-top: 15px;
    width: auto;
    height: 200px;
}

.category-item {
    font-style: italic;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 70%;
    width: 200px;
    position: fixed;
    z-index: 1; 
    top: 50; 
    left: 25;
    background-color: rgb(255,235,205);
    overflow-x: hidden; 
    padding-top: 100px;
    padding-left: 20px;
    border-radius: 5px;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

.sidebar {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    border: 1px solid #ccc; 
    max-width: 800px; 
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.3);
}

.photo {
    max-width: 150px; 
    border-radius: 8px; 
}

.text {
    flex: 1; 
}

.info-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/* Styling for projects button link */
.projects-link a {
    text-decoration: none; 
    color: inherit; 
    display: block;
  }
  
  .projects-link .sub-cat-container {
    background-color: #FFFFFF; 
    padding: 10px;
    border: 1px solid #FFFFFF; 
    border-radius: 5px; 
    text-align: center; 
    transition: background-color 0.3s;
  }
  
  .projects-link .sub-cat-container:hover {
    background-color: #e0e0e0; 
  }
  
